body {
  font-family: 'RC Textos', helvetica, sans-serif;
}


.navbar, footer {
  background-color: #ff001b !important;
}

.nav-item a {
  color: #ffffff;
}

.navbar-nav .nav-link.active {
  color: #fff
}

.btn-right-nav {
  background: #fff;
  border-color: #ff001b;
  color: #ff001b;
}
 .btn-ifood{
  background-color: #ff001b;
  color: #fff;
 }


 .btn-link-ifood {
  
  color:#ff001b;

 }
 .card-description {
  font-size: 14px;
  line-height: 18px;
}

.social-iten{
  width: 46px;
  height: 46px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 23px;
}

 .social-icon {
  width: 40px;
 }

